.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  margin: 0;
  width: 100%;

}

.error-container {
  width: 100%;
  box-sizing: border-box;
}

.form-container input {
  margin: 10px;
  padding: 5px;
  width: 100%;
  box-sizing: border-box;
}

.form-container select {
  margin: 10px;
  padding: 5px;
  width: 100%;
  box-sizing: border-box;
}

.form-container button {
  margin: 10px;
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  background-color: #008CBA;
  color: white;
  border: none;
  border-radius: 5px;
}

.form-container button:hover {
  background-color: #005F6B;
  cursor: pointer;
}